.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input {outline:none;}

button:active, button:focus {
    outline: none;
}

.btn{
    height: 36px;
    margin-right: 5px;
    border-radius: 5px; 
}

.whetherForm{
    padding-top: 20px;
}   

.whetherForm input{
    border-radius: 5px;
}
.whetherComponent{
    width: 200px;
    padding-left: 15px; 
}

.input–°ity{
    height: 30px;
    font-weight: bolder;
}

.checkBox{
    border-radius: 10px;
}

