.inputField input:hover{
    height: 30px;
    font-weight: bolder;
    padding: 5px;
    border: none;
    border-bottom: 1px solid white;
    resize: vertical;
    background: transparent;
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
}

.errorInformation{
    color:white;
    padding-left: 67px;
    padding-bottom: 5px; 
}

.error input{
    border-bottom: 2px solid red;
    color: red;
}